name: TagNewVersion
run-name: Tag All Branches With New Version

on:
  pull_request_target:
    types:
      - closed
    branches:
      - 'mps/2022.2'

  # allow manual execution just in case
  workflow_dispatch:

jobs:
  tagBranch:
    # only trigger if the PR was actually merged
    #if: github.event.pull_request.merged == true
    
    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{secrets.MPS_REPO_PAT}}
          ref: '${{ github.ref_name }}'
          fetch-depth: 0
          
      - name: Set Tags
        run: .github/workflows/tagAllBranchesWithIncrementedVersion.sh
