name: Merge and PR into 2021.3
on:
  pull_request_target:
    types:
      - closed
    branches:
      - 'mps/2021.2'
jobs:
  merge-and-PR-into-2021-3:
    # only trigger if it was actually merged
    if: github.event.pull_request.merged == true
    
    runs-on: ubuntu-latest
    steps:

      # checkout the target branch
      - name: Checkout mps/2021.3
        uses: actions/checkout@v3
        with:
          ref: 'mps/2021.3'
          fetch-depth: 0
            
      # actually merge from the previous branch
      - name: Perform merge from 2021.2 to 2021.3
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git merge origin/mps/2021.2 --
          
          # strip title of previous version suffix
          NEW_TITLE="${{ github.event.pull_request.title }}"
          NEW_TITLE="${NEW_TITLE// (2021.1 -> 2021.2)}"
          echo "NEW_TITLE=$NEW_TITLE" >> $GITHUB_ENV
          
          PR_CONTENT="${{ github.event.pull_request.body }}"
          PR_CONTENT="$(echo $PR_CONTENT | sed 's/^/>/g')"
          echo "PR_CONTENT=$PR_CONTENT" >> $GITHUB_ENV

      # create a PR based on the merge
      - name: Create PR for MPS 2021.3
        uses: peter-evans/create-pull-request@v5
        with:
          branch: 'autoPR/mps/2021.3'
          commit-message: Merge mps/2021.2 into mps/2021.3
          title: ${{ env.NEW_TITLE }} (2021.2 -> 2021.3)
          body: |
            This is an automatic PR which merges changes from `mps/2021.2` to `mps/2021.3`
            
            [Original PR content on `mps/2021.2`:](${{ github.event.pull_request._links.html.href }})
            ${{ env.PR_CONTENT }}
